* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  margin: 0 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 65px;
}

.table-container {
  width: 80%;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
}


table span {
  color: rgb(244, 243, 243);
  margin-right: 20px;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  min-width: 200px;
}


table th {
  color: #fff;
}


tr {
  border-bottom: 1px solid #333;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ddd;
}


.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  border: none;
  border-radius: 7px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
  border: none;
  border-radius: 7px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker-popper .react-datepicker__navigation {
  padding-top: 12px;
  color: #000;
}

.react-datepicker {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.189);
  border: none !important;
  font-family: "Inter" !important;
}

.react-datepicker__header {
  border-bottom: solid 5px var(--light) !important;
  background: white !important;
}

.react-datepicker__current-month {
  color: var(--dark) !important;
}

.react-datepicker__day.react-datepicker__day--today {
  border-radius: 7px;
  border: solid 2px var(--brand) !important;
  background-color: white !important;
  color: var(--dark) !important;
  width: 30px;
  height: 30px;
}

.react-datepicker__day.react-datepicker__day--selected {
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  border: none;
  border-radius: 7px !important;
  background-color: var(--brand) !important;
  color: var(--dark) !important;
}

table th:hover {
  background-color: #0e95cf;
  cursor: pointer;
}

table th {
  transition: all .3s;
  background-color: rgb(16, 169, 235);
}


.table-content {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1200px) {
  .app {
    margin-left: 20px;
    margin-right: 20px;
  }
}


@media (max-width: 850px) {
  table th, table td {
    min-width: 100px;
  }
}

@media (max-width: 600px) {
  table th, table td:first-child {
    min-width: 40px;
  }
  table th, table td {
    min-width: 80px;
  }
  .app-container {
    align-items: normal;
  }
}

@media (max-width: 560px) {
  .table-container {
    width: 90%;
  } 
  .search-container {
    width: 90%;
  }
  table th, table td {
    width: 10px;
  }
}